.roundBorder {
    border: 1px solid gray;
    padding: 1em;
    border-radius: 3px;
}

.verticalContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.horizontalContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.card {
    padding: 0.25em;
    background-color: #eee;
    margin: 0.25em;
    border-radius: 3px;
}

.center {
    margin: 0 auto;
    width: 400px !important;
}